{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load account socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_content %}
<div class=" text-center ">

  <h1>{% trans "Sign Up" %}</h1>

  <p class="fw-bold">{% blocktrans %}Already have an account? Then please <a
      class="text-decoration-none p-3 text-light"
      href="{{ login_url }}"
    >
      <button class=" p-0 btn btn-dark text-uppercase text-dark ">
        Sign in
    </a>
    </button>
    .{% endblocktrans %}</p>
</div>

<form
  class="signup"
  id="signup_form"
  method="post"
  action="{% url 'account_signup' %}"
>
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input
    type="hidden"
    name="{{ redirect_field_name }}"
    value="{{ redirect_field_value }}"
  />
  {% endif %}
  <div class=" text-center ">
    <button
      class=" primaryAction  btn btn-dark text-uppercase mb-4"
      type="submit"
    >
      {% trans "Sign Up" %} &raquo;</button>
  </div>
</form>


{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div class="socialaccount_ballot justify-content-center">

  <ul class="socialaccount_providers text-center p-0">
    <br>OR JOIN WITH : <br>
    <!-- <div class="login-or text-left">{% trans 'or' %}</div> -->
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>



</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

{% endblock %}