{% load static %}
<!-- extra css -->
{% load crispy_forms_tags %}
<div class="p-3 ">
    <div class="container align-content-center">
        <div class="row">
            <div class="col-md-12 pb-3">
                <form method="post"
                      action="{% url 'accounts:profile_picture_update' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %} {{ form_pic | crispy }}
                    <div class="mb-3">
                        <input class="form-control"
                               type="file"
                               name="profile_picture"
                               id="profile_picture">
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-dark w-100 w-md-50">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
