{% load crispy_forms_tags %}

<div class="whatsapp-add-form">
    <p class="fw-bold h4 pt-4 text-center text-danger">JOIN IN WHATSAPP GROUP</p>
    <div class=" d-flex justify-content-center">
        <form
            class=" col-10"
            action=""
            method="POST"
        >
            {% csrf_token %}
            <div class="text-start">
                {{ form| crispy}}
            </div>
            <div>
                <input
                    class="btn btn-dark  w-100"
                    type="submit"
                    value="JOIN"
                >
            </div>
        </form>
    </div>
</div>