{% extends 'base.html' %}
{% load static %}
{% block head_title %}yk.qa | Whatsapp{% endblock %}
{% block extra_css %}
<!-- extra css -->
{% endblock extra_css %}
{% block content %}
<div class="container p-4">
    <!-- content -->
    <div class="fw-bolder fs-4 text-center">Most active Whatsapp groups related to Qatar</div>
    <br>
    <div class="d-flex align-content-start flex-wrap">
        {% for group in groups %}
        <div class=" col-12 col-md-6   ">
            <div class="m-md-2">


                <div class=" p-3 g-2 bg-light">
                    <div class=" d-flex justify-content-between">
                        <div class="col-8">

                            <h3>{{ group.group_name }}</h3>
                            <p>{{ group.group_platform }}</p>
                        </div>
                        <h3 class=" fw-small fs-4">No : {{ group.group_no }}</h3>
                    </div>
                </div>
                <div class="d-flex justify-content-between bg-light">
                    <div class="ps-3">{{ group.discription }}
                    </div>
                    <a href="{{ group.group_link }}" target="_blank"
                        class="text-decoration-none d-flex align-content-end  flex-wrap ">
                        <div class="btn btn-success ps-3 py-2 px-2 border-3  d-flex">
                            <i class="fa-solid fa-people-group fa-xl pt-3 pe-2"></i>
                            <h3 class="p-0 m-0">Join</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}