{% extends 'base.html' %}
{% load static %}
{% block head_title %}Whatsapp{% endblock %}
{% block extra_css %}
    <!-- extra css -->
{% endblock extra_css %}
{% block content %}
    <div class="container p-4">
        <!-- content -->
        <div class="fw-bolder fs-4 text-center">Most active Social Groups related to Qatar Market</div>
        <br>
        <div class="d-flex align-content-start flex-wrap">
            {% for group in groups %}
                <div class=" col-12 col-md-6   ">
                    <div class="m-md-2 border border-2 rounded-3   p-0 shadow-sm   ">
                        <div class=" p-3 g-2">
                            <div class=" d-flex justify-content-between">
                                <div class="col-8">
                                    <h3>{{ group.group_name }}</h3>
                                    <p class="ps-3">{{ group.discription }}</p>
                                </div>
                                <div class="">
                                    <span class=" fw-small fs-4 fw-bolder">No : {{ group.group_no }}</span>
                                    <div class="py-2  ">{{ group.group_platform }}</div>
                                    <a href="{{ group.group_link }}"
                                       target="_blank"
                                       class="text-decoration-none d-flex align-content-end  flex-wrap ">
                                        <div class="btn btn-success px-4 py-2   ">
                                            <h5 class="p-0 m-0">Join</h5>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}
