@font-face {
  font-family: "Poppins-Medium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins-Light"),
    url("../fonts/Poppins-Light.ttf") format("truetype");
}

body {
  font-family: "Poppins-Light";
}

.btn-primary-fill {
  background-color: #03bfcb;
  border: 0.06em solid #03bfcb;
  border-radius: 0.19em;
  color: #231e39;
  font-family: Poppins-Medium;
  font-weight: 500;
  padding: 0.6em 0.6em;
  width: 9em;
}
.btn-primary-fill:hover {
  background: #6cecf5;
  color: #231e39;
  transition: background 0.3s;
}

.btn-primary-blank {
  color: #231e39;
  border: 1px solid #03bfcb;
  border-radius: 0.19em;
  font-family: Poppins-Medium;
  font-weight: 500;
  width: 9em;
  padding: 0.6em 0.6em;
  background-color: #231e39;
  color: #02899c;
}
.btn-primary-blank:hover {
  background: #312b49;
  transition: background 0.3s;
}

.follow {
  margin: 1.5em auto 0 auto;
  background-color: #2589cc;
  width: 150px;
  color: white;
  font-family: "Lato";
  text-align: center;
  padding: 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.follow:hover {
  background-color: #167abd;
  cursor: pointer;
}
