{% extends 'base.html' %}
{% load static %}
{% block head_title %}Profile{% endblock %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- content -->
    {% if user.is_authenticated %}
        {% load account %}
        <section class="my-3">
            <div class="container">
                {% include "accounts/parts/filepath.html" %}
                <div class="bg-white shadow rounded-lg d-block d-sm-flex">
                    {% include "accounts/parts/profile_leftbar.html" %}
                    <div class=" col-12 col-md-9 p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active"
                             id="account"
                             role="tabpanel"
                             aria-labelledby="account-tab">
                            <div class="d-flex">
                                <h3 class="mb-4">Account Info</h3>
                                <span class="align-self-baseline m-2 ">( {{ user.profile.username }} )</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ user.profile.first_name }}"
                                               disabled
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ user.profile.last_name }}"
                                               disabled
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <div class="form-group ">
                                        <label>Email</label>
                                        <input type="text"
                                               class="form-control "
                                               value="{{ user.email }}"
                                               disabled
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label>Phone number</label>
                                        <input type="text" class="form-control" value="Contact us" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label>Nationality</label>
                                        <input type="text"
                                               class="form-control"
                                               value="{{ user.profile.nationlity }}"
                                               disabled
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-3">
                                    <div class="form-group">
                                        <label>Designation</label>
                                        {{ user.profile.is_business }}
                                        <input type="text" class="form-control"  disabled readonly>
                                    </div>
                                </div>
                                <p class="pt-0 m-0 mt-3">Roles</p>
                                <div class="d-md-flex col-12">
                                    <div class="col-md-4  me-md-2 mb-2">
                                        <div class="form-group ">
                                            <input type="text"
                                                   {% if user.profile.is_business %} class="form-control " value="Property Holder "{% else %}class="d-none" {% endif %}
                                                   disabled
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3  mb-2  me-md-2">
                                        <div class="form-group">
                                            <input type="text"
                                                   {% if user.profile.is_realtor %} class="form-control " value="Realtor "{% else %}class="d-none" {% endif %}
                                                   disabled
                                                   readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-3   me-md-2">
                                        <div class="form-group">
                                            <input type="text"
                                                   {% if user.profile.is_workman %} class="form-control " value="Service Holder "{% else %}class="d-none" {% endif %}
                                                   disabled
                                                   readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 pt-3">
                                    <div class="form-group">
                                        <label>Bio</label>
                                        <textarea class="form-control" disabled readonly rows="4">{{ user.profile.is_workman }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2 text-center text-md-end">
                                <a href="{% url 'accounts:profile_update' %}">
                                    <button class="btn btn-dark pt-2 px-5">Update</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}
