{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Own Properties{% endblock %}
{% block extra_css %}
    <!-- extra css -->
{% endblock extra_css %}
{% block content %}
    <!-- content -->
    <div class="p-3 fw-bold  text-center mb-2">
       Building Infos : There is {{ building_own.count }} Own Buildings to display.
    </div>
    {% if building_own %}
        <div class="container d-flex flex-wrap">
            {% for property in building_own %}
             
                {% include "property/parts/building_card.html" %}
                 
            
            {% endfor %}
        </div>
    {% else %}
        <div class="container ">
            <h4>There is no property to display.</h4>
        </div>
    {% endif %}
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}
