<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-8 px-2 d-flex flex-column ">
            <div class="pt-md-2 d-flex text-muted justify-content-between ">
                <div class=" align-self-center">
                    <span class="d-inline-block  fw-lighter fst-italic font-monospace">{{property.user.first_name}}
                        {{property.user.last_name}}</span>
                </div>
                <div class="align-self-center d-none">
                    <a
                        href="#"
                        helptext='add to wishlist'
                        class="btn   text-wrap btn-sm  ms-1 ms-md-3"
                    ><i class="fa-solid fa-heart fa-xl"></i></a>
                </div>

            </div>
            <strong class="d-inline-block mb-2 text-success">Zone: {{property.zone_no}}-{{property.landmark}}</strong>
            <strong class="d-inline-block mb-2 text-success">{{property.client_code}}</strong>
            <strong class="d-inline-block mb-2 text-success">Building Code: {{property.building_no}}</strong>
            <h3 class="mb-0">{{property.title|truncatechars:30}}</h3>
            <!--             @todo
            <h5 class="card-title">number_of_portions{{property.portions_count}}</h5> -->
        </div>
        <div class="col-4 ">
            <img
                class="img-fluid img-thumbnail rounded "
                src="{{MEDIA_URL}}{{property.photo_main}}"
                style="height:200px"
                role="img"
                aria-label="Placeholder: Thumbnail"
                preserveAspectRatio="xMidYMid slice"
                focusable="false"
            >
        </div>

        <div class="d-flex pt-md-1">
            <a
                href="{% url 'property:portion_all' property.user.id property.id %}"
                class="col flex-fill  align-text-center  m-1 p-1 btn btn-outline-dark "
            >
                Portions
            </a>
            {% if request.user.id == property.user.id %}
            <a
                href="{% url 'property:building_update' property.user.id property.id %}"
                class="col flex-fill  align-text-center  m-1 p-1 btn btn-outline-dark "
            >
                Edit
            </a>
            {% endif %}
        </div>

    </div>


</div>