{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %} yk.qa | Inquires {% endblock %}


{% block extra_css %}
<!-- extra css -->
{% endblock extra_css %}

{% block content %}
<!-- content -->



<div class="d-flex flex-wrap">


    <div class="col-6 col-md-6 text-center  pb-3">
        <a
            href="{% url 'property:own_building' pk=user.pk %}"
            class="btn btn-dark fw-bold px-5 px-md-3"
        >MY PROPERTIES</a>
    </div>
    <div class="col-6 col-md-6 text-center  pb-3">
        <a
            href="{% url 'property:building_create' pk=user.pk  %}"
            class="btn btn-dark fw-bold px-5 px-md-3"
        >ADD PROPERTIES</a>
    </div>

</div>
{% if inquires %}


<div class="row mb-2">
    {% for inquire in inquires %}

    {% include "property/inquire_card.html" %}



    {% endfor %}
</div>


{% else %}
<h4>
    There is no Inquire to display.
</h4>
{% endif %}



{% endblock content %}

<!-- extra js -->
{% block extra_js %}

{% endblock extra_js %}