{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Property{% endblock %}
{% block extra_css %}
    <!-- extra css -->
    <link rel="stylesheet"
          href="{% static 'property/css/property.css' %}"
          type="text/css" />
{% endblock extra_css %}
{% block content %}
    <!-- content -->
    {% if portions %}
        This Property({{ building_id }}) includes <b>{{ portions.count|stringformat:"00i" }}</b> Portions.
        <div class="container my-4">
            {% for portion in portions %}
                {% include "property/parts/portion_card.html" %}
            {% endfor %}
        {% else %}
            <h4 class="p-3">This Property({{ building_id }})'s portions not Added.</h4>
        {% endif %}
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-4">
        {% if user_id == pk %}
            <a href="{% url 'property:portion_add' user.id building_id %}"
               class="btn btn-dark  px-5 px-md-5 order-md-2">Add Portions</a>
        {% else %}
            <a href="{% url 'property:building_create' pk=user.pk %}"
               class="btn btn-dark  px-5 px-md-3">Add Properties</a>
        {% endif %}
        <a href="{% url 'property:building_own' user.id %}"
           class="btn btn-dark  px-3 px-md-5 order-md-1">Own
        Properties</a>
    </div>
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}
