{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="fb:pages" content="113704197128320" />
<meta charset="UTF-8" />
<title>Yellowkey Holdings - Your Page Title</title>
<meta name="description" content="Yellowkey Holdings provides a comprehensive suite of services tailored for property owners and seamless collaboration with agents." />
<meta name="keywords" content="business keyword1, business keyword2, business keyword3" />
<link rel="canonical" href="https://www.yellowkey.qa/your-page-url" />
<meta property="og:title" content="Yellowkey Holdings - Your Page Title" />
<meta property="og:description" content="Your Expert Partner in Full-Service Management Excellence! We Do for Property Holders: Property Management, Tenant Relations, Rent Collection, Property Photography, Property Maintenance. Works with Realtor: Vacant Property Listings, Vacant Soon Lists, Multiple Properties, Shared Property enquiries, Trusted Agents community. For Services Providers: Service job Listing, Tenant Requests, Payment Collections, Location Based Listings, Teams building." />
<meta property="og:site_name" content="Yellowkey Real Estate" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="{% static 'webpages/img/icons/yellowkey_logo.png' %}" />
<meta property="og:url" content="https://www.yellowkey.qa/" />
<meta property="og:type" content="website" />
<meta name="author" content="Yellowkey Holdings" />
<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#ffffff" />
<link rel="shortcut icon" href="#">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap"
      rel="stylesheet">
<link type="text/css"
      rel="stylesheet"
      href="{% static '/assets/css/main.css' %}">
<link type="text/css"
      rel="stylesheet"
      href="{% static '/webpages/css/base.css' %}">
<link type="text/css"
      rel="stylesheet"
      href="{% static '/webpages/css/main.css' %}">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      integrity="sha384-tKLJeE1ALTFrNmFBpzPfDvDX8m4i7KdjsoNxzK2E62akiAdMzQjtOjgcyw0Y50KU"
      crossorigin="anonymous">
<link rel="icon" type="image/png" href="{% static 'webpages/img/icons/yellowkey_favicon.png' %}">

<!-- Structured Data for Local Business -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Yellowkey Holdings",
  "image": "http://yellowkey.qa/media/webpages/brand/yk-lg-wh2.png",
  "@id": "https://www.yellowkey.qa/",
  "url": "https://www.yellowkey.qa",
  "telephone": "+974-33430001",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "534 alsadd",
    "addressLocality": "Doha",
    "addressRegion": "Doha",
    "postalCode": "00000",
    "addressCountry": "Qatar"
  },
  "geo": {
    "@type": "GeoCoordinates",
      "latitude": 25.276987,
      "longitude": 51.520008
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Sunday",
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      
    ],
    "opens": "07:00",
    "closes": "17:00"
  },
  "sameAs": [
    "https://www.facebook.com/yellowkey.qa",
    "https://www.twitter.com/yellowkey.qa",
    "https://www.instagram.com/yellowkey.qa"
  ]
}
</script>