{% load static %}
<!-- ...navbar... -->
<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-light ">
        <div class="container-fluid ">
            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
            <a class="navbar-brand m-0" href="{% url 'webpages:home' %}">
                <img src="{{ MEDIA_URL }}webpages/brand/yk-lg-wh2.png"
                     alt=""
                     width="250"
                     height="50">
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class=" btn" aria-current="page" href="{% url 'webpages:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn"
                           aria-current="page"
                           href="{% url 'property:property_all' %}">Properties</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn"
                           aria-current="page"
                           href="{% url 'property:inquire_create' %}">Inquire</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn" aria-current="page" href="{% url 'webpages:services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class=" btn" aria-current="page" href="{% url 'webpages:about' %}">About</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a type="button "
                               class=" btn  "
                               data-bs-toggle="modal"
                               data-bs-target="#DashboardZoneModal">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p-2"
                               aria-current="page"
                               href="{% url 'accounts:profile' %}">
                                <i class="fa-solid fa-user fa-lg px-1"></i>
                                <span class="d-md-none align-self-center ms-2">{{ user.username }}</span>
                            </a>
                        </li>
                        <!-- Modal -->
                        <div class="modal fade"
                             id="DashboardZoneModal"
                             tabindex="-1"
                             role="dialog"
                             aria-labelledby="DashboardZoneModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="DashboardZoneModalLabel">Choose Dashboard Zone</h5>
                                        <button type="button"
                                                class="close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">{% include "includes/choose_dashboard.html" %}</div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <li class="nav-item  ">
                            <a class=" btn" aria-current="page" href="{% url 'account_login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class=" btn" aria-current="page" href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
