{% load static %}
<!-- ...navbar... -->


<div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-md navbar-light bg-light ">
        <div class="container-fluid ">
            <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>


            <a
                class="navbar-brand m-0"
                href="{% url 'home' %}"
            >
                <img
                    src="{{ MEDIA_URL }}webpages/brand/yk-lg-wh2.png"
                    alt=""
                    width="250"
                    height="50"
                >
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse "
                id="navbarNav"
            >
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'home' %}"
                        >Home</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'services' %}"
                        >Services</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'contact' %}"
                        >Contact</a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'about' %}"
                        >About</a>
                    </li>
                    <li><a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'profile' %}"
                        >

                            <lord-icon
                                src="https://cdn.lordicon.com//dxjqoygy.json"
                                trigger="loop"
                                colors="primary:#0a2e5c,secondary:#107c91"
                                style="width:2em;height:2em"
                                title="{{ user.username }}"
                            >
                            </lord-icon>
                        </a></li>

                </ul>

            </div>
        </div>
    </nav>
</div>
{% block extra_js %}
<script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>{% endblock %}