{% load crispy_forms_tags %}
{% load static %}
<!-- content -->
<div class="container d-flex justify-content-end  ">
    <a href="{% url 'property:property_all' %}"
       class="    align-text-center  m-1 px-2 btn btn-dark ms-md-2   responsive-btn">PROPERTIES</a>
    <a href="{% url 'property:portions_list_all'  pk=user.id %}"
       class="   align-text-center  m-1 px-2 btn btn-dark ms-md-2 responsive-btn">PORTIONS</a>
    <a href="{% url 'property:property_own' pk=user.pk %}"
       class="    align-text-center  m-1 px-2 btn btn-dark me-md-2 responsive-btn">OWN PROPERTIES</a>
</div>
{% if properties %}
    <div class="container d-flex flex-wrap">
        {% for property in properties %}
            {% include "property/parts/property_card.html" %}
        {% endfor %}
    </div>
{% else %}
    <div class="container ">
        <h4>There is no property to display.</h4>
    </div>
{% endif %}
