<div class=" col-md-12 p-0 p-md-2 col-12 pb-2">
    <div class="row g-0 border rounded overflow-hidden flex-md-row p-2 shadow-sm h-md-250 position-relative">
        <div class="col-8 px-2 d-flex flex-column pt-2">
            <h3 class="mb-0">{{ property.name }}</h3>
            <strong class="d-inline-block mb-2 text-success">Zone: {{ property.zone_no }}-{{ property.landmark }}</strong>
            <strong class="d-inline-block mb-2 text-success">Code: {{ property.client_code }}</strong>
            <strong class="d-inline-block mb-2 text-success">Portions: {{ property.portions.count }}</strong>
        </div>
        <div class="col-4 text-end">
            <img class="img-fluid img-thumbnail rounded border-0 property-img-wrapper"
                 src="{{ MEDIA_URL }}{{ property.photo_main }}"
                 style="height:150px"
                 role="img"
                 aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
        </div>
        <div class="col-12 px-2">
            <div class="  pt-md-1">
                <div class="p fw-bold">Portions: {{ property.portions.count }}</div>
                <div class="d-flex flex-wrap">
                    {% for portion in property.portions.all %}
                        <div class="col-6 col-md-3  p-1">
                            <div class="card  p-2">
                                <p class="card-title">Code: {{ portion.unit_no }}</p>
                                <p class="card-title">Floor: {{ portion.floor_no }}</p>
                                <p class="card-title">
                                    <i class="fa-solid fa-bed"></i>
                                    : {{ portion.portion_type }}
                                </p>
                            </div>
                            {% if portion.portions_status.first.status == 'BOOKED' %}
                                <span class="d-block bg-danger py-1 fw-bold bg-gradient text-white text-center">Booked</span>
                            {% elif portion.portions_status.first.status == 'VACANT' %}
                                <span class="d-block bg-danger py-1 fw-bold bg-gradient text-white text-center">VACANT</span>
                                {% if portion.portions_status.first.vacant_date %}
                                    <span class="d-block text-center">Vacant On: {{ portion.portions_status.first.vacant_date }}</span>
                                {% endif %}
                            {% elif portion.portions_status.first.status == 'VACANT_SOON' %}
                                <span class="d-block bg-warning py-1 fw-bold bg-gradient text-dark text-center">Soon</span>
                                {% if portion.portions_status.first.vacant_date %}
                                    <span class="d-block text-center">Date: {{ portion.portions_status.first.vacant_date }}</span>
                                {% endif %}
                            {% elif portion.portions_status.first.status == 'OCCUPIED' %}
                                <span class="d-block  bg-success py-1 fw-bold bg-gradient text-white text-center">Occupied</span>
                            {% else %}
                                <span class="d-block bg-danger py-1 fw-bold bg-gradient text-white text-center">Not Set</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <div class="d-flex pt-md-1 justify-content-end flex-wrap">
                    <a href="{% url 'property:portion_vacant_status_list_update' property.user.id property.id %}"
                       class="    mb-2 rounded-3    py-1 btn btn-dark    text-decoration-none me-1 responsive-btn"><i class="fa-solid fa-pen-to-square"></i> Status</a>
                    <a href="{% url 'property:portion_add' property.user.id property.id %}"
                       class="mb-2 rounded-3    py-1 btn btn-dark    text-decoration-none me-1 responsive-btn"><i class="fa-solid fa-add"></i> Portion</a>
                    <a href="{% url 'property:portion_single_building' property.user.id property.id %}"
                       class="mb-2 rounded-3    py-1 btn btn-dark    text-decoration-none me-1 responsive-btn"><i class="fa-solid fa-pen-to-square"></i> Portions</a>
                    {% if request.user.id == property.user.id %}
                        <a href="{% url 'property:building_update' property.user.id property.id %}"
                           class="mb-2 rounded-3    py-1 btn btn-dark    text-decoration-none me-1 responsive-btn"><i class="fa-solid fa-pen-to-square"></i> Property</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
