<div class=" col-md-6  col-12">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col-8 px-2 d-flex flex-column pt-2">
            <h3 class="mb-0">{{ property.name }}</h3>
            <strong class="d-inline-block mb-2 text-success">Zone: {{ property.zone_no }}-{{ property.landmark }}</strong>
            <strong class="d-inline-block mb-2 text-success">Code: {{ property.client_code }}</strong>
            <strong class="d-inline-block mb-2 text-success">Portions:
                {% for portion in portions_count %}
                    {% if portion.id == property.id %}{{ portion.number_of_portions }}{% endif %}
                {% endfor %}
            </strong>
        </div>
        <div class="col-4 text-end">
            <img class="img-fluid img-thumbnail rounded border-0 "
                 src="{{ MEDIA_URL }}{{ property.photo_main }}"
                 style="height:150px"
                 role="img"
                 aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
        </div>
        Portions: {{ property.portions_count }}
        <div class="col-12 px-2">
            <div class="  pt-md-1">
                <div class="p fw-bold">Portions: {{ property.portion_count }}</div>
                {% for portion in portions_count %}
                    {% if portion.id == property.id %}
                        <div class="d-flex flex-wrap">portion {{ portion.id }}</div>
                        <div class="d-flex flex-wrap">
                            <div class="col-6 col-md-4  p-1">
                                <div class="card  p-2">
                                    <p class="card-title">Code: 5325</p>
                                    <p class="card-title">Floor: 0</p>
                                    <p class="card-title">Type: Studio</p>
                                </div>
                                {% if portion_status == null %}
                                <span class="d-block bg-danger py-1 fw-bold bg-gradient text-white text-center">Vacant</span>
                                {% elif portion_status == 'Vacant' %}
                                    <span class="d-block bg-danger py-1 fw-bold bg-gradient text-white text-center">Vacant</span>
                                {% elif portion_status == 'Soon' %}
                                    <span class="d-block bg-warning py-1 fw-bold bg-gradient text-dark text-center">Soon</span>
                                {% elif portion_status == 'Occupied' %}
                                    <span class="d-block  bg-success py-1 fw-bold bg-gradient text-white text-center">Occupied</span>
                                
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-6 col-md-4   p-1 pt-4">
                        <a href="#"
                           class="d-block mb-2 rounded-3 bg-dark py-1 fw-bold text-light text-center text-decoration-none">Add Portions</a>
                        <a href="#"
                           class="d-block mb-2 rounded-3  bg-dark py-1 fw-bold text-light text-center text-decoration-none">Edit Portions</a>
                           <a href="{% url 'property:portion_vacant_status_list_update' property.user.id property.id %}"
                           class="d-block mb-2 rounded-3  bg-dark py-1 fw-bold text-light text-center text-decoration-none">Edit Status</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex pt-md-1">
                <a href="{% url 'property:portion_all' property.user.id property.id %}"
                   class="col flex-fill  align-text-center  m-1 p-1 btn btn-outline-dark ">Portions</a>
                {% if request.user.id == property.user.id %}
                    <a href="{% url 'property:building_update' property.user.id property.id %}"
                       class="col flex-fill  align-text-center  m-1 p-1 btn btn-outline-dark ">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
