<div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-2 shadow-sm h-md-250 position-relative">
        <div class="col-8 px-2 d-flex flex-column position-static">
            <div class="pt-md-2 d-flex text-muted justify-content-between ">
                <div class=" align-self-center">
                    <strong class="d-inline-block mb-2 text-success">Name: {{ inquire.name }}</strong>
                </div>
            </div>
            <p class="mb-0">Property type: {{ inquire.property_type }}</p>
            <p class="mb-0">Furnished type: {{ inquire.furnished_type }}</p>
            <p class="mb-0">Areas: {{ inquire.locations|truncatechars:30 }}</p>
            <div class="mb-1 text-muted">Price: {{ inquire.price_from }}-{{ inquire.price_to }}</div>
            <div class="mb-1 text-muted">Wanted From: {{ inquire.date_from| date }}</div>
            <div class="mb-1 text-muted">Posted: {{ inquire.date_updated| date }}</div>
            <br>
            <div class="gap-2 d-flex justify-content-end   pt-2">
                <p class="align-text-center m-0 py-2 fs-4">Contact:</p>
                <a href="tel:{{ inquire.mobile_no }}" class="my-2 btn btn-light">
                    <i class="fa-solid fa-phone fa-xl " style="color: #461a01;"></i>
                </a>
                <a href="https://wa.me/{{ inquire.whatsapp_no }}"
                   class="my-2 btn btn-light">
                    <i class="fa-brands fa-square-whatsapp fa-2xl" style="color: #00c400;"></i>
                </a>
            </div>
        </div>
        <div class="col-4 ">
            <img class="img-fluid img-thumbnail rounded h-100"
                 src="{{ MEDIA_URL }}webpages/brand/yk-sq.png"
                 role="img"
                 aria-label="Placeholder: Thumbnail"
                 preserveAspectRatio="xMidYMid slice"
                 focusable="false">
        </div>
    </div>
</div>
