
<div class="col-md-6 col-lg-4 mb-3">
<div class="property-wrapper">
    <div class="property-card">
      <div class="property-img">
        <img src="https://picsum.photos/id/947/400/300" alt="house" />
        <div class="heart">
            <i class="fa-solid fa-heart fa-2xl" style="color: #FFD43B;"></i>
        </div> 
      </div>
      <div class="property-info section-container px-3 m-0 pb-0">
        <h4 class="title">Detached House • 3,426 sqf</h4>
        <h3 class="price">QAR 2,250</h3>
        <p class="address">742 Evergreen Terrace</p>
      </div>
      <div class="aminities section-container px-3 pt-0">
        <div class="room ">
            <i class="fa-solid fa-bed p-2"></i>

            <span class="room_count p-2">2</span> Bedrooms
        </div>
        <div class="room ">
            <i class="fa-solid fa-bath p-2"></i>

          <span class="room_count p-2">2</span> Bathrooms
        </div>
        <div class="room ">
            <i class="fa-solid fa-bed p-2"></i>

            <span class="room_count p-2">2</span> Furnished
        </div>
        <div class="room ">
            <i class="fa-solid fa-bath p-2"></i>

          <span class="room_count p-2">2</span> ACs
        </div>
      </div>
      <div class="contact section-container py-0">
        <img src="https://i.pravatar.cc/100?img=16" alt="portrait" />
        <div class="contact_info py-2">
          <p class="contact_name">Tiffany Heffner</p>
          <p class="property_code">555</p>
        </div>
      </div>
      <div class="schedule section-container">
        Schedule Showing
      </div>
    </div>
  </div></div>