
<div class="col-md-6 col-lg-4 mb-3">
<div class="property-wrapper pe-2">
    <div class="property-card">
      <div class="property-img">
        <img src="https://picsum.photos/id/947/400/300" alt="house" />
        <div class="heart">
            <i class="fa-solid fa-heart fa-2xl" style="color: #FFD43B;"></i>
        </div> 
      </div>
      <div class="property-info section-container px-3 m-0 pb-0">
        <h4 class="title">{{ portion.portion_type}}-{{ portion.unit_no}} • {{ portion.sqft}} sqf</h4>
        <h3 class="price">QAR {{ portion.price}}</h3>
        <p class="address">{{ portion.building_data.landmark}}</p>
      </div>
      <div class="aminities section-container px-3 pt-0">
        <div class="room ">
            <i class="fa-solid fa-bed p-2"></i>

            <span class="room_count p-2">{{ portion.bedrooms}}</span> 
            <i class="fa-solid fa-bath p-2"></i>
    
          <span class="room_count p-2">{{ portion.bathrooms}}</span> 
        
            <i class="fa-solid fa-couch  p-2"></i>

            <span class="room_count p-2">{{ portion.furnished_type}}</span> 
        </div>
        <div class="room ">
            <i class="fa-solid fa-layer-group p-2"></i>

          <span class="room_count p-2">{{ portion.floor_no}}</span> Floor
        </div>
      </div>
      <div class="contact section-container py-0">
        <img src="https://i.pravatar.cc/100?img=16" alt="portrait" />
        <div class="contact_info py-2">
          <p class="contact_name">{{ portion.user.profile}}</p>
          <p class="property_code">555</p>
        </div>
      </div>
      <div class="schedule section-container">
        {{ portion.portions_status}}
      </div><div class="schedule section-container">
        Schedule Showing
      </div>
    </div>
  </div></div>