{% load static %}
{% block extra_css %}
{% endblock extra_css %}
<div class="min-vh-100 d-none d-md-flex flex-column flex-shrink-0 p-2 bg-light col-md-2 the-sidebar"
     id="sidebar">
  <div class="text-center fw-bold sidebar-item p-2">
    <a class="sidebar-link" href="#">REALTOR Dashboard</a>
  </div>
  <hr class="m-2" />
  <div class="sidebar-collapse" id="sidebarNav">
    <ul class="sidebar-nav p-1 flex-column text-center">
      <li class="sidebar-head  {% if request.resolver_match.url_name == 'orders_list' or request.resolver_match.url_name == 'add_order' %}active{% endif %}">
        <div class="sidebar-item py-3 btn-sidebar-blank collapsed d-flex   align-items-center"
             data-bs-toggle="collapse"
             data-bs-target="#submenu-001">
          <i class="fa-solid fa-bars ms-2 pe-2"></i>Properties<i class="flex-fill fa-solid fa-caret-down ps-2"></i>
        </div>
        <div class="multi-level collapse bg-white rounded-3"
             role="list"
             id="submenu-001"
             aria-expanded="false">
          <ul class="flex-column p-0 ms-2 text-black">
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-bars my-2 pt-1 pe-2"></i>
                <span class="pt-1">Near Properties</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-bars my-2 pt-1 pe-2"></i>
                <span class="pt-1">Vacant Portions</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-spinner my-2 pt-1 pe-2"></i>
                <span class="pt-1">Vacant soon</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-spinner my-2 pt-1 pe-2"></i>
                <span class="pt-1">Vacants</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-check my-2 pt-1 pe-2"></i>
                <span class="pt-1">Booked</span></a>
            </li>
          </ul>
        </div>
      </li>
      <hr class="m-2" />
      <li class="sidebar-head  {% if request.resolver_match.url_name == 'product_all_list' or request.resolver_match.url_name == 'product_single_add' or request.resolver_match.url_name == 'product_categories' or request.resolver_match.url_name == 'product_all_list_card' %}active{% endif %}">
        <div class="sidebar-item btn-sidebar-blank collapsed d-flex justify-content-start align-items-center py-3"
             data-bs-toggle="collapse"
             data-bs-target="#submenu-002">
          <i class="fa-solid fa-box-open px-2"></i>Workspaces<i class="flex-fill fa-solid fa-caret-down ps-2"></i>
        </div>
        <div class="multi-level collapse bg-white rounded-3"
             role="list"
             id="submenu-002"
             aria-expanded="false">
          <ul class="flex-column p-0 ms-2 text-black">
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-bars my-2 pt-1 pe-2"></i>
                <span class="pt-1">Inquiries</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-phone my-2 pt-1 pe-2"></i>
                <span class="pt-1">Tenent calls</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-spinner my-2 pt-1 pe-2"></i>
                <span class="pt-1">Visit Requests</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-spinner my-2 pt-1 pe-2"></i>
                <span class="pt-1">Followups</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-check my-2 pt-1 pe-2"></i>
                <span class="pt-1">Tenanat Docs</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-bars my-2 pt-1 pe-2"></i>
                <span class="pt-1">Deals Reports</span></a>
            </li>
            <li class="sidebar-item d-flex btn-sidebar-blank justify-content-start">
              <a class="sidebar-link" href="#">
                <i class="fa-solid fa-xmark my-2 pt-1 pe-2"></i>
                <span class="pt-1">Pending Requests</span></a>
            </li>
          </ul>
        </div>
      </li>
      <hr class="m-2" />
      <li class="sidebar-head mb-2">
        <a class="sidebar-link" href="#">
          <div class="d-flex btn-sidebar-blank sidebar-link justify-content-start">
            <i class="fa-solid fa-chart-bar m-2 pe-2 pb-1"></i>
            <span class="pt-1">Reports</span>
          </div>
        </a>
      </li>
      <li class="sidebar-head mb-2">
        <a class="sidebar-link" href="#">
          <div class="d-flex btn-sidebar-blank sidebar-link justify-content-start">
            <i class="fa-solid fa-address-book m-2 pe-2 pb-1"></i>
            <span class="pt-1">Contacts</span>
          </div>
        </a>
      </li>
      <li class="sidebar-head mb-2">
        <a class="sidebar-link" href="#">
          <div class="d-flex btn-sidebar-blank sidebar-link justify-content-start">
            <i class="fa-solid fa-store m-2 pe-2 pb-1"></i>
            <span class="pt-1">Services List</span>
          </div>
        </a>
      </li>
      <hr />
      <li class="sidebar-head mb-2">
        <a class="sidebar-link" href="{% url 'help:realtor_help' %}">
          <div class="d-flex btn-sidebar-blank sidebar-link justify-content-start">
            <i class="fa-solid fa-question-circle m-2 pe-2 pb-1"></i>
            <span class="pt-1">Help</span>
          </div>
        </a>
      </li>
      <li class="sidebar-head mb-2">
        <a class="sidebar-link" href="{% url 'accounts:profile' %}">
          <div class="d-flex btn-sidebar-blank sidebar-link justify-content-start">
            <i class="fa-solid fa-store m-2 pe-2 pb-1"></i>
            <span class="pt-1">Profile</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
