{% extends "base_dashboard.html" %}
{% load static %}
<!-- tags -->
{% load crispy_forms_tags %}
 
<!-- title -->
{% block title %}
    WORKMAN DASHBOARD
{% endblock title %}
<!-- extra css -->
{% block extra_css %}
<link rel="stylesheet"
          href="{% static 'clients/css/clients_dashboard.css' %}"
          type="text/css" />
{% endblock extra_css %}
<!-- title -->

<!-- Main BUSINESS DASHBOARD content area -->
<!-- left side content here  -->
 {% block sidebar %}
    <!-- sidebar -->
    {% include "workman/parts/workman_dashboard_sidebar.html" %}
  {% endblock sidebar %}
{% block content %}
    <!-- right side content here -->
    <div class="flex-fill pb-2">
        <section class="m-0 p-0">
            <div class="p-3 p-md-3 text-dark d-none d-md-block">
                <div class="text-center">
                    <h3 class="fw-bolder text-uppercase">{{ profile.business_business_name }} WORKMAN - Dashboard</h3>
                </div>
            </div>

            
            <div class="p-3 p-md-3" id="dasboard_div">
                <div class="container mb-4">
                    <h4>Services Listing</h4>
                    <div class="row">
                        
                        
                         
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>A/C Reparing</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Plumbling Services</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Carpentering services</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end ">
                        <button class="btn btn-dark">See More</button>
                    </div>
                </div>
                <div class="container mb-4">
                    <h4>Jobs Listing Newly Added</h4>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 3</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 4</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 5</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 6</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end ">
                        <button class="btn btn-dark">See More</button>
                    </div>
                </div>
                <div class="container mb-4">
                    <h4>Jobs inquiries list</h4>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 3</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 4</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 5</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <p>Task 6</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-end ">
                        <button class="btn btn-dark">See More</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
