{% extends 'base.html' %}
{% load static %}
{% block head_title %} yk.qa | About {% endblock %}


{% block extra_css %}
<!-- extra css -->
<link
    type="text/css"
    rel="stylesheet"
    href="{% static '/webpages/css/main.css' %}"
>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU"
    crossorigin="anonymous"
>

{% endblock extra_css %}


{% block content %}
<!-- content -->



<div class="block text-block">
    <p class="thm-txt h4 text-center fw-bolder">Mission Statement</p>
    <p class="thm-txt">​<span class="token token-empty">YELLOWKEY REALESTATE</span> manages your Real Estate Properties
        24-7! Our Mission: Maximizing Client income by applying exceptional Real Estate Property Management skills,
        while ensuring Tenant satisfaction by adopting first rate property maintenance!</p>
    <p
        style="margin-bottom:0;margin-top:0.63em;line-height:2"
        class="thm-txt"
    >The Headache:</p>
    <p
        style="line-height:2"
        class="thm-txt"
    >All Real Estate Investors have 4 major concerns:</p>
    <p
        style="line-height:2;padding-left:1.25em"
        class="thm-txt"
    >• Maximizing Earnings while Minimizing Expenses</p>
    <p
        style="line-height:2;padding-left:1.25em"
        class="thm-txt"
    >• Timely and Proper Rental Collections and Payables Disbursement</p>
    <p
        style="line-height:2;padding-left:1.25em"
        class="thm-txt"
    >• Up to Date Reporting and Complete Accountability</p>
    <p
        style="margin-bottom:1.25em;margin-top:0;line-height:2;padding-left:1.25em"
        class="thm-txt"
    >• Regular and Complete Real Estate Maintenance</p>
    <p
        style="margin-bottom:0.63em;margin-top:0;line-height:1.5"
        class="thm-txt"
    >The Answer:</p>
    <p class="thm-txt">Take the headaches of property management away by hiring us- the experts, then sit back and enjoy
        your well deserved profits!</p>
    <p
        style="margin-bottom:1.25em;margin-top:0;line-height:1.5"
        class="thm-txt"
    >Our website will provide your vacant property with continuous
        quality exposure. By using innovative marketing and advertising techniques we will fill out vacant spaces with
        qualified tenants fast. We take great care throughout the tenant qualification and selection process.</p>
    <p class="thm-txt">We will be honored to manage your real estate properties for you.</p>
</div>



{% endblock content %}

<!-- extra js -->
{% block extra_js %}

{% endblock extra_js %}