{% load static %}
<!-- extra css -->
{% load crispy_forms_tags %}
<div class="p-3 ">
    <div class="container align-content-center">
        <div class="row">
            <div class="col-md-12 pb-3 d-flex justify-content-evenly">
                <div class="col-4">
                    <a href="{%url 'clients:dashboard' %}" class=" col-3 text-decoration-none">
                        <div class="single-fcat text-center shadow-lg  py-3 me-1 bg-body-tertiary rounded border border-1">
                            <img src="{{ MEDIA_URL }}webpages/category/002.png" alt="">
                            <p class="m-0 pt-2 text-dark">Property Holder</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{%url 'realtor:dashboard' %}" class="col-3 text-decoration-none">
                        <div class="single-fcat text-center shadow-lg  py-3 me-1 bg-body-tertiary rounded border border-1">
                            <img src="{{ MEDIA_URL }}webpages/category/002.png" alt="">
                            <p class="m-0 pt-2 text-dark">Realtor Zone</p>
                        </div>
                    </a>
                </div>
                <div class="col-4">
                    <a href="{%url 'workman:dashboard' %}" class="col-3 text-decoration-none">
                        <div class="single-fcat text-center shadow-lg  py-3 bg-body-tertiary rounded border border-1">
                            <img src="{{ MEDIA_URL }}webpages/category/002.png" alt="">
                            <p class="m-0 pt-2 text-dark">Workman Zone</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
