{% extends 'base.html' %}
{% load static %}
{% block title %} yk.qa | Produts {% endblock %}


{% block extra_css %}
<!-- extra css -->
<link
    type="text/css"
    rel="stylesheet"
    href="{% static '/webpages/css/main.css' %}"
>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU"
    crossorigin="anonymous"
>

{% endblock extra_css %}


{% block content %}
<!-- content -->

{% if user.is_authenticated %}
{% load account %}

{% user_display user as user_display %}
Welcome {% user_display user %}
<h1>{{ user.username }} welcome to your profile page</h1>
<h2>{{ user.name }}</h2>
<div class="row mb-4">
    <div class="col-12 align-self-center bg-light text-center">
        <div class="container d-flex justify-content-evenly">

            <button class="btn  btn-dark"><a
                    class="text-decoration-none text-light"
                    href="{% url 'account_email' %}"
                >Change E-mail</a></button>
            <button class="btn  btn-dark"><a
                    class="text-decoration-none text-light"
                    href="{% url 'home' %}"
                >Home</a></button>
            <button class="btn  btn-dark"><a
                    class="text-decoration-none text-light"
                    href="{% url 'account_logout' %}"
                >Sign Out</a></button>


            {% else %}
            login
            {% endif %}
        </div>
    </div>
</div>






{% endblock content %}

<!-- extra js -->
{% block extra_js %}

{% endblock extra_js %}