{% extends 'base.html' %}
{% load static %}
{% block title %} yk.qa | Produts {% endblock %}


{% block extra_css %}
<!-- extra css -->
<link
    type="text/css"
    rel="stylesheet"
    href="{% static '/webpages/css/main.css' %}"
>

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU"
    crossorigin="anonymous"
>

{% endblock extra_css %}


{% block content %}
<!-- content -->


    <section class="position-relative py-5">
        <img class="d-none d-lg-block position-absolute top-0 start-0 mt-20" src="zeus-assets/icons/dots/blue-dot-left-bars.svg" alt="" data-removed="true">
        <img class="d-none d-lg-block position-absolute top-0 end-0 mt-52" src="zeus-assets/icons/dots/yellow-dot-right-shield.svg" alt="" data-removed="true">
        <div class="container">
          <div class="max-w-2xl mx-auto mb-20 text-center">
            <h2 class="mt-8 mb-10">Feel at home, together</h2>
            <p class="lead text-muted">Find comfortable rooms or suites for rent and like-minded roommates to live with all without sacrificing quality</p>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-md-6 mb-16">
              <div class="row">
                <div class="col-12 col-lg-4 mb-6 mb-lg-0">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://static.shuffle.dev/uploads/files/d2/d2d5f0000eebb59747c55c3efb29d2b790864bb3/furnished.jpg" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">Furnished rooms</h2>
                  <p class="mb-4 text-muted">Every room in the home is beautifully designed with modern furnishings.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-16">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://images.unsplash.com/photo-1544717305-2782549b5136?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">Flexible stays</h2>
                  <p class="mb-4 text-muted">We offer flexible stays as short as 30 days and you can start any day of the month.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-16">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-1.2.1&amp;ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">Utilities included</h2>
                  <p class="mb-4 text-muted">Never worry about setting up utilities again — everything is included in your stay.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-16 mb-lg-0">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://images.unsplash.com/photo-1544717297-fa95b6ee9643?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">Wifi &amp; cable</h2>
                  <p class="mb-4 text-muted">Every home comes with high-speed internet and a standard cable package.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-16 mb-md-0">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://static.shuffle.dev/uploads/files/d2/d2d5f0000eebb59747c55c3efb29d2b790864bb3/cleaning.jpg" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">Regular cleaning</h2>
                  <p class="mb-4 text-muted">Professional cleaning is included to keep the home spick and span.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-12 col-lg-4">
                  <div style="height: 10rem;">
                    <img class="d-block rounded w-100 h-100" style="object-fit: cover;" src="https://images.unsplash.com/photo-1525129498994-580709352e20?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80" alt="">
                  </div>
                </div>
                <div class="col-12 col-lg-8">
                  <span class="d-inline-block mb-4 small text-muted" data-removed="true">10 jun 2020 19:40</span>
                  <h2 class="mb-4 h3 font-semibold font-heading">On-call support</h2>
                  <p class="mb-4 text-muted">Something not working quite right? The Zomelle team is just a phone call away.</p>
                  <a class="h6" href="#">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>



      <section class="py-20">
        <div class="container">
          <div class="row align-items-center">
            <div class="position-relative col-12 col-lg-6 mb-12 mb-lg-0">
              <img class="d-none d-lg-block position-absolute start bottom-0 mb-n10 ms-n28" src="zeus-assets/icons/dots/blue-dot-left-bars.svg" alt="">
              <img class="img-fluid w-100 h-100 rounded" style="object-fit: cover; max-height: 512px;" src="https://images.unsplash.com/photo-1544717305-996b815c338c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=334&amp;q=80" alt="">
            </div>
            <div class="relative col-12 col-lg-6">
              <div class="max-w-xl ps-lg-20">
                <h2 class="mb-6 mb-lg-10">How it works</h2>
                <p class="mb-6 mb-lg-10 lead text-muted">Finding a home has never been easier.</p>
                <div class="mb-10 border rounded">
                  <div class="d-flex p-4 border-bottom">
                    <svg class="me-4 mt-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#45C1FF"></path>
                    </svg>
                    <p class="fw-bold mb-0">Choose your favorite YK home from dozens of options across the city.</p>
                  </div>
                  <div class="d-flex p-4 border-bottom">
                    <svg class="me-4 mt-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#45C1FF"></path>
                    </svg>
                    <p class="fw-bold mb-0">Once you’re ready, just reserve online and we’ll get the verification process started.</p>
                  </div>
                  <div class="d-flex p-4">
                    <svg class="me-4 mt-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.67 0H14.34C17.73 0 20 2.38 20 5.92V14.091C20 17.62 17.73 20 14.34 20H5.67C2.28 20 0 17.62 0 14.091V5.92C0 2.38 2.28 0 5.67 0ZM9.43 12.99L14.18 8.24C14.52 7.9 14.52 7.35 14.18 7C13.84 6.66 13.28 6.66 12.94 7L8.81 11.13L7.06 9.38C6.72 9.04 6.16 9.04 5.82 9.38C5.48 9.72 5.48 10.27 5.82 10.62L8.2 12.99C8.37 13.16 8.59 13.24 8.81 13.24C9.04 13.24 9.26 13.16 9.43 12.99Z" fill="#45C1FF"></path>
                    </svg>
                    <p class="fw-bold mb-0">Time to move in! A Community Manager is ready to assist you throughout your stay.</p>
                  </div>
                </div>
                <a class="btn btn-primary" href="#">Request For Home</a>
              </div>
            </div>
          </div>
        </div>
      </section>








{% endblock content %}

<!-- extra js -->
{% block extra_js %}

{% endblock extra_js %}
