{% extends 'base.html' %}
{% load static %}
{% block head_title %}Services{% endblock %}
{% block extra_css %}
  <!-- extra css -->
  <link type="text/css"
        rel="stylesheet"
        href="{% static '/webpages/css/main.css' %}">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU"
        crossorigin="anonymous">
{% endblock extra_css %}
{% block content %}
  <!-- content -->
  <section class="">
    <div class="col-10 py-4 container mt-12 mb-20 text-center">
      <h2 class="fw-bold mt-8 mb-3 mb-lg-12">Effortless Property Marketing for Smart Agents & Owners</h2>
      <p class="max-w-3xl mx-auto text-muted">
        Showcase properties that captivate attention and drive results. With YellowKey’s professionally crafted listings, agents and property owners enjoy streamlined marketing tools that turn vacant spaces into fast-moving opportunities — beautifully, efficiently, and stress-free.
      </p>
    </div>
    <div class="container">
      <div class="p-3 g-2 col-12   mb-md-0">
        <div class="p-md-8 p-2 border rounded">
          <div class="row m-3">
            <a class="d-flex  mb-3 ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light  text-decoration-none"
               href="{% url 'webpages:property_services' %}">
              <div class="col-8">
                <p class=" h4 fw-bolder text-dark">OWNERS ZONE</p>
                <p class="text-dark">Experience hassle-free property ownership.</p>
              </div>
              <div class="col-4 text-end">
                <img src="{% static '/webpages/img/icons/property.svg' %}"
                     style="width: 72px;
                            height: 72px"
                     alt="">
              </div>
            </a>
            <p class="mb-3 text-muted">
              Own a property in Qatar? YellowKey helps you manage everything — from tenant coordination and maintenance requests to rent collection and verified service providers. We simplify your role while ensuring your property stays in top shape.
            </p>
            <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
              href="{% url 'webpages:property_services' %}"> 
            <p class="mb-3 text-muted">👉 Join YellowKey today
            </p></a>
          
          </div>
        </div>
      </div>
      <div class=" p-3 g-2 col-12    mb-md-0">
        <div class="p-8 border rounded">
          <div class="row m-3">
            <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
               href="{% url 'webpages:realtor_services' %}">
              <div class="col-8">
                <h3 class=" h4 fw-bolder text-dark">REALTOR ZONE</h3>
                <p class="text-dark">boost your real estate workflow.</p>
              </div>
              <div class="col-4 text-end">
                <img src="{% static '/webpages/img/icons/realtor.svg' %}"
                     style="width: 72px;
                            height: 72px"
                     alt="">
              </div>
            </a>
            <p class="mb-3 text-muted">
              Whether you’re handling multiple listings or managing upcoming vacancies, YellowKey offers tools to streamline property updates, share inquiries, and connect with trusted agents. Our platform makes collaboration easy and efficient.
            </p>
            <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
              href="{% url 'webpages:realtor_services' %}"> 
            <p class="mb-3 text-muted">👉 Become part of YellowKey
            </p></a>
          </div>
        </div>
      </div>
      <div class=" p-3 g-2 col-12    mb-md-0">
        <div class="p-8 border rounded">
          <div class="row m-3">
            <div class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
                 href="{% url 'webpages:workman_services' %}">
              <div class="col-8">
                <h3 class=" h4 fw-bolder text-dark">WORKMAN ZONE</h3>
                <p class="text-dark">start receiving verified job requests.</p>
              </div>
              <div class="col-4 text-end">
                <img src="{% static '/webpages/img/icons/workman.png' %}"
                     style="width: 72px;
                            height: 72px"
                     alt="">
              </div>
            </div>
            <p class="mb-3 text-muted">
              From plumbing to cleaning, YellowKey connects you with real jobs from property managers and tenants in your area. With on-time payments and location-based listings, you can grow your service business with peace of mind.
            </p>
            <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
               href="{% url 'webpages:workman_services' %}">
              <p class="mb-3 text-muted">👉 Sign up with YellowKey</p>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" p-3 g-2 col-12 col-md-6  mb-md-0">
          <div class="p-8 border rounded">
            <div class="row m-3">
              <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
                 href="/whatsapp_group/">
                <div class="col-8">
                  <h3 class=" h4 fw-bolder text-dark">MARKETING GROUPS</h3>
                  <span class="text-dark">Join Now</span>
                </div>
                <div class="col-4 text-end">
                  <img src="{% static '/webpages/img/icons/whatsapp.svg' %}"
                       style="width: 72px;
                              height: 72px"
                       alt="">
                </div>
              </a>
            </div>
            <div class="row mx-3">
              <div class="col-12">
                <p class="mb-2 text-muted">
                  Unlock Opportunities in Real Estate! Join our WhatsApp group to be part of a dynamic community centered
                  around property listings and agent inquiries. Together, we build a network that propels success in the
                  real estate realm.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class=" p-3 g-2 col-12 col-md-6  mb-md-0">
          <div class="p-8 border rounded">
            <div class="row m-3">
              <a class="d-flex ms-auto align-items-center justify-content-center p-md-4 p-2 bg-light text-decoration-none"
                 href="/careers/">
                <div class="col-8">
                  <h3 class=" h4 fw-bolder text-dark">CAREERS</h3>
                  <span class="text-dark">Apply</span>
                </div>
                <div class="col-4 text-end">
                  <img src="{% static '/webpages/img/icons/careers.svg' %}"
                       style="width: 72px;
                              height: 72px"
                       alt="">
                </div>
              </a>
            </div>
            <div class="row mx-3">
              <div class="col-12">
                <p class="mb-2 text-muted">
                  Welcome to our Careers Page! We appreciate your interest in joining our team. At yellowkey Holdings, we
                  believe in fostering a collaborative and innovative work environment. Explore exciting opportunities and
                  apply to be a part of our talented team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}
<!-- extra js -->
{% block extra_js %}
{% endblock extra_js %}
