{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "webpages/includes/head.html" %}
    <!-- extra css -->
    <link rel="stylesheet"
          href="{% static 'clients/css/clients_dashboard.css' %}"
          type="text/css" />
    {% block extra_css %}
    {% endblock extra_css %}
    <title>
      {% block title %}
        Property Holders Portal | Yellowkey
      {% endblock title %}
    </title>
  </head>
  <body class="min-vh-100">
    <div class="d-none d-md-block">{% include "includes/navbar.html" %}</div>
    <main class="col-12 ps-2 min-vh-100">
      {% include "fleet/parts/fleet_dashboard_mob_nav.html" %}
      <div class="col-12 d-flex">
        <!-- extra css -->
        {% block sidebar %}
          <!-- sidebar -->
          {% include "clients/parts/clients_dashboard_sidebar.html" %}
        {% endblock sidebar %}
        333
        <!-- dashboard body content goes here -->
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    <!-- footer -->
    {% include "includes/footer.html" %}
    <!-- extra js -->
    {% include "includes/scripts.html" %}
    <!-- dashboard js {% include "includes/clients_dashboard_scripts.html" %}-->
    {% include "includes/dashboard_scripts.html" %}
    {% block extra_js %}
      <!--  -->
    {% endblock extra_js %}
  </body>
</html>
